/* =========================
   GLOBAL THEME (SPORTSBOOK)
========================= */

:root {
    /* ===== BACKGROUNDS ===== */
    --bg: linear-gradient(to right bottom, #003122, #0f1513);            /* hover / active states */
    --primary-gradient-background-color1: #00533a;
    --primary-gradient-background-color2: #00533a;
    --secondary-gradient-background-color1: #01d796;
    --secondary-gradient-background-color2: #013424;

    /* ===== BRAND COLORS ===== */
    --color1: #01d796;
    --color2: #00533a;
    --main_gradient: linear-gradient(to right bottom, #01d796, #01d796);
  
    --primary-gradient-background: linear-gradient(110deg, var(--primary-gradient-background-color1), var(--primary-gradient-background-color2) 100%);
    --secondary-gradient-background: linear-gradient(103deg, var(--secondary-gradient-background-color1) -30%, var(--secondary-gradient-background-color2));
  
    /* ===== TEXT ===== */
    --text: #ffffff;

    /* ===== BORDERS ===== */
    --border: rgba(255, 255, 255, 0.08);
    --border-strong: rgba(236, 231, 231, 0.493);
  
    /* ===== TYPOGRAPHY ===== */
    --font-family: 'Plus Jakarta Sans', sans-serif;

  }
  
  /* =========================
     RESET
  ========================= */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    background: var(--bg);
    color: var(--text);
    line-height: 1.5;
    font-size: var(--text-md);
  }

  input,
  button,
  select,
  textarea {
    font-family: var(--font-family);
  }
  
  /* =========================
     SCROLLBAR (OPTIONAL NICE TOUCH)
  ========================= */
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--surface-3);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg);
  }